<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo</title>
</head>
<body>
    
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="todolist not-done">
             <h1>Todos</h1>
              
             <form action="{% url 'adtodo' %}" method="POST">
                 {% csrf_token %}
                    {{ forms.text}}<br> 
                    <button type="submit" class="btn btn-success"  >Add</button>      
             </form>       
             <a class="btn btn-danger" href="{% url 'destroy'%}">Delete all</a>               
                    <hr>
                    <ul id="sortable" class="list-unstyled">
                    {% for todos in todo%}
                    {% if todos.complete is True%}
                        <li class="ui-state-default">
                        <div class="checkbox " style="text-decoration: line-through;">
                           {{todos.text}}
                        </div>
                    </li>
                    {% else %}
                    
                    <a href="{%url 'update' todos.id%}"><li class="ui-state-default">
                        <div class="checkbox">
                           {{todos.text}}
                        </div>
                    </li></a>
                    {% endif %}
                    
                    {% endfor %}
                </ul>
               
            </div>
        </div>
    </div>
</div>
</body>
</html>